* {
    word-break: break-all;
}

.images-list {
    padding-bottom: 30px;
}

    .images-list .image-item-wrapper {
        width: 15em;
        height: 15em;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

.image-item {
    padding: .5em .5em;
}

.image-item-wrapper img {
    min-width: 100%;
    height: 100%;
}

.image-item-wrapper .image-item-set {
    font-size: 1.28em;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: #fff;
    transition: all .3s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    transform: scale(2);
}

.image-item-set a {
    color: #fff;
    text-decoration: none;
}

.image-item-set .glyphicon {
    margin-right: 5px;
    margin-left: 5px;
}

.image-item-set .glyphicon-pencil {
    margin-left: 10px;
}

.image-item-wrapper:hover .image-item-set {
    transform: scale(1);
    opacity: 1;
}

.btn.btn-follow {
    width: 188.65px;
}

.btn.btn-follow:not(.followed) {
    margin: auto;
    padding: 10px 60px;
    background: #ff4949;
    color: white;
    transition: all .5s;
}

.btn.btn-follow:not(.followed):hover {
    background: red;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.red-font {
    color: #ff4949;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.view-photo-image {
    width: 100%;
}

.view-photo-comments .view-photo-comment:nth-last-child(1) {
    border-bottom: none;
}

.view-photo-comment {
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.view-photo-image img {
    width: 100%;
}

.view-photo-about {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.right {
    float: right;
}

.left {
    float: left;
}

.vhal {
    display: inline;
    vertical-align: -12px;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    overflow-x: auto;
    z-index: 10000;
    padding: 20px;
}

    .shadow .remove {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
    }

body.view-photo {
    overflow: hidden;
}

.shadow .view-photo-wrapper {
    padding: 20px;
    background-color: #fff;
}

.view-photo-comments-form {
    width: 100%;
    border: 1px solid #ccc;
}

    .view-photo-comments-form textarea {
        width: 100%;
        border: none;
        resize: unset;
        padding: 8px;
    }

    .view-photo-comments-form input[type="submit"] {
        display: block;
        width: 100%;
        padding: 8px;
        border: none;
        background-color: #3897f0;
        color: #fff;
        text-align: center;
    }
.dropdown-menu > li > a {
    font-size: 16px;
}
.date {
    color: #909090;
}
@media (min-width: 768px) {
    .images-list .image-item-wrapper {
        width: 25em;
        height: 25em;
    }

    .view-photo-wrapper {
        margin: 0 auto;
        max-width: 50%;
        position: relative;
    }
}

@media (min-width: 992px) {
    .load-more-wrapper {
        padding-top: 50px;
    }

    .images-list .image-item-wrapper {
        width: 21.5em;
        height: 21.5em;
    }
}

@media (min-width: 1200px) {

    .images-list .image-item-wrapper {
        width: 19.5em;
        height: 19.5em;
    }
}
