* {
    word-break: break-all;
}

.img-wrapper:hover .img-set {
    bottom: 0;
}

.images-list {
    padding-bottom: 30px;
}

.images-list .image-item-wrapper {
    width: 15em;
    height: 15em;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.image-item {
    padding: .5em .5em;
}

.image-item-wrapper img {
    min-width: 100%;
    height: 100%;
}

.image-item-wrapper .image-item-set {
    font-size: 1.28em;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: #fff;
    transition: all .3s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
   transform: scale(2);
}

.image-item-set .glyphicon-heart {
    margin-right: 2px;
}

.image-item-wrapper:hover .image-item-set {
    transform: scale(1);
    opacity: 1;
}

.load-more-wrapper {
    padding-top: 10px;
}

.load-more-wrapper .btn {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #3897f0;
    color: #FFF;
}

.btn.btn-follow {
    margin: auto;
    padding: 10px 60px;
    background: #ff4949;
    color: white;
    transition: all .5s;
}

.btn.btn-follow:hover {
    background: red;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.red-font {
    color: #ff4949;
}
.table > tbody > tr > td {
    vertical-align: middle;
}

.view-photo-image {
    width: 100%;
}

.view-photo-comments .view-photo-comment:nth-last-child(1) {
    border-bottom: none;
}

.view-photo-comment {
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.view-photo-image img {
    width: 100%;
}


@media (min-width: 768px) {
    .images-list .image-item-wrapper {
        width: 25em;
        height: 25em;
    }

    .view-photo-wrapper {
        margin: 0 auto;
        max-width: 90%;
        position: relative;
    }

    .view-photo-image {
        width: 50%;
        overflow: hidden
    }

    .view-photo-info {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow-y: auto;
    }

    .view-photo-about {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .load-more-wrapper {
        padding-top: 50px;
    }

    .images-list .image-item-wrapper {
        width: 21.5em;
        height: 21.5em;
    }
}

@media (min-width: 1200px) {

    .images-list .image-item-wrapper {
        width: 19.5em;
        height: 19.5em;
    }
}