@model IEnumerable<PhotoAlbum.WEB.Models.CommentModel>

@foreach (var item in Model)
{
    <div class="view-photo-comment">
        @Html.DisplayFor(modelItem => item.Message)
        <div class="right date">@Html.DisplayFor(modelItem => item.Date)</div>
        <div class="clearfix"></div>
    </div>
}