@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br/>
<address>
    I am thinking about name of company<br />
    Kiev, Ukraine<br />
    Phone: +380638124237
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:harlamowlad@gmail.com">harlamowlad@gmail.com</a><br />
</address>