@model PhotoAlbum.BLL.EnittyBLL.LikeBLL
<div id="savingresult">
    @if (@ViewBag.liked)
    {
        <span class="glyphicon glyphicon-heart"></span>
    }
    else
    {
        <span style="font-size: 30px" class="glyphicon glyphicon-heart"></span>
    }
</div>


@using (Ajax.BeginForm("LikeSave", "Like", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "savingresult",
}))
{
    @Html.HiddenFor(em => em.PhotoId)
    @Html.HiddenFor(m => m.UserId)

    <input type="submit" value="Save" class="btn btn-default" />
}
